*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    margin:20px;
}

.items{
    width:800px;
    overflow-x:scroll;
    overflow-y:hidden;
    cursor:grab;
    border:2px solid black;
    user-select:none;
	overflow:auto;
    display:flex;
}

.item{
    flex: 0 0 300px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    background:dodgerblue;
    color:white;
    font-size:40px;
	flex-shrink: 0;
	cursor:grab;
}