*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.items{
    width:800px;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    cursor:grab;
    border:2px solid black;
    user-select:none;
}

.item{
    width:200px;
    height:200px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin:10px;
    background:dodgerblue;
    color:white;
    font-size:40px;
}